[user]
	name = Daniel Blessing
	email = drblessing@gmail.com

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[url "git@github.com:"]
	insteadOf = https://github.com/