[submodule "subrepositories/expo"]
	path = subrepositories/expo
	url = https://github.com/expo/expo.git
	ignore=all
[submodule "subrepositories/next.js"]
	path = subrepositories/next.js
	url = https://github.com/vercel/next.js.git
	ignore = all
[submodule "subrepositories/cloudflare-docs"]
	path = subrepositories/cloudflare-docs
	url = https://github.com/cloudflare/cloudflare-docs.git
	ignore = all
[submodule "subrepositories/react.dev"]
	path = subrepositories/react.dev
	url = https://github.com/reactjs/react.dev.git
	ignore = all
