[submodule "subrepos/react.dev"]
    path = subrepos/react.dev
    url  = https://github.com/reactjs/react.dev.git
    branch = main         
[submodule "subrepos/expo"]
    path = subrepos/expo
    url  = https://github.com/expo/expo.git
    branch = main
[submodule "subrepos/next.js"]
    path = subrepos/next.js
    url  = https://github.com/vercel/next.js.git
    branch = canary
[submodule "subrepos/cloudflare-docs"]
    path = subrepos/cloudflare-docs
    url  = https://github.com/cloudflare/cloudflare-docs.git
    branch = production
[submodule "subrepos/three.js"]
    path = subrepos/three.js
    url  = https://github.com/mrdoob/three.js.git
    branch = dev
[submodule "subrepos/openai-cookbook"]
    path = subrepos/openai-cookbook
    url  = https://github.com/openai/openai-cookbook.git
    branch = main

# How to add a new submodule:
# git submodule add -b <branch> --depth 1 <repository-url> subrepos/<repo-name>
# Example:
# git submodule add -b main --depth 1 https://github.com/lodash/lodash.git subrepos/lodash

# How to clone the repo with submodules:
# git clone --recurse-submodules --depth 1 <repository-url>

# If you have already cloned the repo without submodules, run:
# git submodule update --init --recursive --depth 1

# Update submoudles to latest commit on their respective branches:
# git submodule update --remote

# To update a specific submodule:
# git submodule update --remote subrepos/<repo-name>

# To remove a submodule:
# git submodule deinit subrepos/<repo-name>
# git rm subrepos/<repo-name>
# rm -rf .git/modules/subrepos/<repo-name>