# SSH Server Configuration

# File location: /etc/ssh/sshd_config

# Restart SSH after editing: sudo systemctl restart ssh

# General settings

Port 22
AddressFamily any
Protocol 2
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no

# Authentication settings

PubkeyAuthentication yes
PermitRootLogin no
AuthorizedKeysFile .ssh/authorized_keys .ssh/authorized_keys2
MaxAuthTries 3
MaxSessions 3
