black
fastapi
jupyter
matplotlib
numpy
openai
pandas
pillow
pydoll-python
pyfiglet
pyperclip
pytest
python-dotenv
requests
rich
seaborn
selenium
termcolor
# beautifulsoup4
# pytest-trio
# scikit-learn
# sqlalchemy
# trio
# web3
# webcolors