requests
jupyter
openai
pydoll-python
python-dotenv
matplotlib
numpy
pandas
pyperclip
black
pytest
rich
termcolor
pillow
pyfiglet
# web3
# scikit-learn
# beautifulsoup4
# seaborn
# sqlalchemy
# fastapi
# selenium
# trio
# pytest-trio
# webcolors